@keyframes animationSlideInUp {
  from {
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }
  
  to {
    transform: translate3d(0, 0, 0);
  }
}

.animation_type_slide-in-up {
  animation-name: animationSlideInUp;
}
