@keyframes animationRotateOut {
  from {
    transform-origin: center;
    opacity: 1;
  }
  
  to {
    transform-origin: center;
    transform: rotate3d(0, 0, 1, 200deg);
    opacity: 0;
  }
}

.animation_type_rotate-out {
  animation-name: animationRotateOut;
}
