@keyframes animationSlideInRight {
  from {
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  
  to {
    transform: translate3d(0, 0, 0);
  }
}

.animation_type_slide-in-right {
  animation-name: animationSlideInRight;
}
