@keyframes animationFlipOutY {
  from {
    transform: perspective(400px);
  }
  
  30% {
    transform: perspective(400px) rotate3d(0, 1, 0, -15deg);
    opacity: 1;
  }
  
  to {
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    opacity: 0;
  }
}

.animation_type_flip-out-y {
  backface-visibility: visible !important;
  animation-name: animationFlipOutY;
}
