@keyframes animationSlideOutUp {
  from {
    transform: translate3d(0, 0, 0);
  }
  
  to {
    visibility: hidden;
    transform: translate3d(0, -100%, 0);
  }
}

.animation_type_slide-out-up {
  animation-name: animationSlideOutUp;
}
