@keyframes animationFadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.animation_type_fade-in-left {
  animation-name: animationFadeInLeft;
}
