@keyframes animationFadeInRightBig {
  from {
    opacity: 0;
    transform: translate3d(2000px, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.animation_type_fade-in-right-big {
  animation-name: animationFadeInRightBig;
}
