@keyframes animationFadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.animation_fade_in-up {
  animation-name: animationFadeInUp;
}
