@keyframes animationFadeOutRightBig {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(2000px, 0, 0);
  }
}

.animation_fade_out-right-big {
  animation-name: animationFadeOutRightBig;
}
