@keyframes animationFadeOutLeft {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
}

.animation_fade_out-left {
  animation-name: animationFadeOutLeft;
}
